
  <div class="col-md-8 question-details">
    <div class="question-wrapper">
      <h4 class="question-title"><%=@question.headline %></h4>
        <div class="username"><%= @user.username %></div>
        <div class="question-body"><%= @question.body %></div>
    </div>
  </div>

  <div class="col-md-8 answers-details">
    <% if @answers.length === 0 %>
        <div class="answers-wrapper">
            <h4>There are no answers yet</h4>
        </div>
    <% else %>
      <div class="answers-wrapper">
        <h4>There are <%= @answers.length %> Answers </h4>

        <% @question.answers.order(:created_at).each do |answer|%>
          <% @question_user = answer.user %>
          <div class="username"><%= @question_user.username %></div>
          <div class="answer-body"><%= answer.body %></div>
        <% end %>
      </div>
    <% end %>
 </div>


    <h4> Your Answer </h4>
    <%= render '/answers/new'%>
